#include <windows.h>

IDI_APP_ICON ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,8,2,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // U.S. English, Unicode
        BEGIN
            VALUE "OriginalFilename", "ArchOpen.exe\0"
            VALUE "ProductName",      "ArchOpen\0"
            VALUE "FileVersion",   "0.8.2.0\0"
            VALUE "LegalCopyright",    "ZombieNW\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
